.title-bar {
  border-bottom: none;

  .app-menu .menu-label .menu-box {
    border-radius: @component-border-radius;
    box-shadow: 0 4px 16px -2px hsla(0,0%,0%,.15);

    .menu-item {
      border-radius: (@component-border-radius - 2px);
    }
  }

  .window-buttons button {
    &:hover {
      background-color: @background-color-highlight;
    }
    &:active {
      background-color: @background-color-selected;
    }
  }
}
